@charset "UTF-8";

/*============================== 
    #16. main.css
         - 메인 스타일 구성 
==============================*/


* {
    font-family: 맑은 고딕;
    color: #334433;
}

body, p, div, span, input, table, th, td, select {
    font-size: 18pt;
}


.control {
    border: 1px solid gray;
    border-radius: 3px;
}


.table {
    border-collapse: collapse;
    width: 100%
}

.table th, .table td {
    border : 1px solid gray;
    border-left: 0px;
    border-right: 0px;
    padding: 3px;
    line-height: 150%;
    text-align: center;
}

.table th {
    font-weight: bold;
    background-color: #eeeeee;
    text-align: left;
}

.btn {
    font-weight: bold;
    font-family: 맑은 고딕;
}

.btn:hover {
    background-color: #778877;
    color: white;
}

.btn:active {
    color: red;
}

input {
    font-family: 나눔고딕코딩;
    font-weight: bold;
}

input:focus {
    background-color: #eeeedd;
}

.txt:focus {
    background-color: #efffff;
}

.errMsg {
    font-size: small;
    color: red;
    display: none;
}
